<div class="banner-container">
    <div class="banner-content">
      <h1>Bem-vindo ao Sodoguinhos!</h1>
      <p>Encontre os melhores anúncios para você e seus amigos de quatro patas!</p>
      
    </div>
  </div>
  
  <style>
    .banner-container {
      background: url('/images/26d5c930-c84f-406c-a7a1-35beacde37ac.jpg') no-repeat center center/cover;
      height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
      margin-bottom: 20px;
      
    }
  
    .banner-content h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
  
    .banner-content p {
      font-size: 1.2rem;
      margin-bottom: 20px;
      text-shadow: black 0.1em 0.1em 0.2em;
    }
  
    .banner-content .btn {
      font-size: 1rem;
      padding: 10px 20px;
    }
  </style>
  