<footer class="footer">
    <div class="textos-footer">
      <p>&copy; 2024 SóDoguinhos - Todos os direitos reservados.</p>
      <p>
        <a href="/ads/new" class="">Quero Anunciar</a>
      </p>
    </div>
  </footer>
  