<!-- <link href="/public/css/tailwind-output.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/css/styles.css">



<header>
  <nav class="navbar">
    <div class="navbar-logo">SoDoguinhos</div>
    <ul class="navbar-links">
      <li><a href="/">Home</a></li>
      <li><a href="/ads/new">Quero Anunciar</a></li>
      <li><a href="#">Serviços</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
    <div class="navbar-toggle" id="navbar-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>

<script src="/js/script.js"></script>
  